<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
<div class="flex justify-center items-center h-screen">
  <div class="w-96 p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-semibold mb-4">Log In</h2>
    <form method="post">
      {% csrf_token %}
      <div class="mb-4">
        <label for="{{ form.username.id_for_label }}" class="block text-gray-700 font-medium mb-2">Username</label>
        <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" class="border border-gray-300 rounded-md py-2 px-3 w-full">
      </div>
      <div class="mb-4">
        <label for="{{ form.password.id_for_label }}" class="block text-gray-700 font-medium mb-2">Password</label>
        <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" class="border border-gray-300 rounded-md py-2 px-3 w-full">
      </div>
      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-4 rounded-md w-full">Log In</button>
    </form>
  </div>
</div>
{% endblock %}
