<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Hello, {{ first_name }} {{ last_name }}</p>
        <p>You are studying {{faculty }}</p>
        <p>Here are the courses you are studying:</p>
        <ul>
            {% for course in courses %}
                <li>{{ course }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>