<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to Academic Portal</h1>
    </header>
    <main>
        <h3>Home Page</h3>
        <p>Welcome to the Academic Portal. Here, you can manage your academic activities.</p>
    </main>
    <br>
    <nav>
        <a href="add-course">Add Course</a>
        <p>Dont have an Account?  <a href="">Register as a Student</a></p>
    </nav>
    
</body>
</html>